{
  "plugins": [
    "@babel/plugin-transform-destructuring",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true,
      },
    ],
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "@babel/plugin-transform-destructuring",
        [
          "@babel/plugin-proposal-decorators",
          {
            "legacy": true
          }
        ],
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true,
          },
        ],
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs"
          }
        ],
        "@babel/preset-flow",
        "@babel/preset-react"
      ],
    }
  }
}
