{
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["env", { "modules": false }],
    "stage-1",
    "react"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env"
      ]
    }
  }
}
