{
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["env", { "modules": false }],
    "stage-1",
    "react"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env",
        "stage-1",
        "react"
      ],
      "plugins": [
        "add-module-exports",
        "transform-decorators-legacy"
      ]
    }
  }
}
