<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css"
      href="//cloud.typography.com/6367052/709306/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  </head>
  <body>
    <header class="Header Row">
      <div class="Container">
        <h1 class="Logo">
          Radium
        </h1>
      </div>
    </header>

    <main class="Container">
      <div class="Row">
        <div class="u-textCenter">
          <code class="Installer">npm install radium</code>
        </div>

        <div class="Copy Row u-marginModule">
          {{content}}

          <div class="CopySmall">
            Inspired by <a href="https://speakerdeck.com/vjeux/react-css-in-js">React: CSS
            in JS</a> by <a href="https://twitter.com/Vjeux">vjeux</a>.
          </div>
        </div>

        <div class="Row">
          <h2 class="u-textCenter">Features</h2>

          <div class="Grid Grid--padded u-textCenter">
            <div class="Grid-unit Copy">
              <ul class="u-noMargin-l">
                <li>Conceptually simple extension of normal inline styles</li>
                <li>Browser state styles to support <code>:hover</code>, <code>:focus</code>, and <code>:active</code></li>
                <li>Media queries</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Row">
          <h2 class="u-textCenter">Overview</h2>

          <div class="Copy u-marginModule">
            {% capture examples %}{% include examples.md %}{% endcapture %}
            {{ examples | markdownify }}
          </div>
        </div>

        <div class="Row">
          <h2 class="u-textCenter">Using Radium</h2>

          <div class="Copy u-marginModule">
            {% capture tutorial %}{% include tutorial.md %}{% endcapture %}
            {{ tutorial | markdownify }}
          </div>
        </div>

      </div>
    </main>

    <footer class="Footer Row">
      <div class="Container u-textCenter u-marginModule">
        <p>
          Made with love in Seattle by

          <a class="FooterLogo" href="http://formidablelabs.com">
            <img width="300" src="img/formidable-logo.svg" alt="Formidable Labs">
          </a>
        </p>

        <p>P.S. <a href="http://formidablelabs.com/careers/">We&rsquo;re hiring</a>.
      </div>
    </footer>

    <script src="js/app.min.js"></script>
  </body>
</html>
