<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css"
      href="//cloud.typography.com/6367052/709306/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  </head>
  <body>
    <header class="Header Row">
      <div class="Container">
        <h1 class="Logo">
          Radium
        </h1>
      </div>
    </header>

    <main class="Container">
      <div class="Row">
        <h1 class="u-textCenter">Get radium:</h1>

        <div class="u-textCenter">
          <code class="Installer">npm install radium</code>
        </div>

        <div class="Copy Row u-marginModule">
          {{content}}
        </div>

        <div class="Row">
          <h2 class="u-textCenter">See:</h2>

          <div class="Copy u-marginModule">
            {% capture documentation %}{% include documentation.md %}{% endcapture %}
            {{ documentation | markdownify }}
          </div>
        </div>

        <div class="Row">
          <h2 class="u-textCenter">Features</h2>

          <div class="Grid Grid--padded u-textCenter">
            <div class="Grid-unit u-size1of3-l Copy">
              <ul>
                <li>Expressive</li>
                <li>Expressing styles with JS means leveraging the flexibility and power of JS.</li>
              </ul>
            </div>

            <div class="Grid-unit u-size1of3-l Copy">
              <ul>
                <li><pre>var button = require("buttonStyles");</pre></li>
                <li>JS modules mean source order independence. Modules also leave behind the global variables and specificity conflicts that plagued CSS.</li>
              </ul>
            </div>

            <div class="Grid-unit u-size1of3-l Copy">
              <ul class="u-noMargin u-margin-l">
                <li>Un peu du style</li>
                <li>Dead code elimination means smaller builds.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Row">
          <h2 class="u-textCenter">Overview</h2>

          <div class="Copy u-marginModule">
            {% capture examples %}{% include examples.md %}{% endcapture %}
            {{ examples | markdownify }}
          </div>
        </div>

      </div>
    </main>

    <footer class="Footer Row">
      <div class="Container u-textCenter">
        <p>
          Made with love in Seattle by

          <a class="FooterLogo" href="http://formidablelabs.com">
            <img width="300" src="/img/formidable-logo.svg" alt="Formidable Labs">
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
